<!-- <a href="<%= userinfo.linkedin %>"><i class="fab fa-linkedin-in" style="font-size: 30px;"></i></a> -->
<div class="container">
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Update Profile</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="text-center m-auto">
                <img src="" alt="preview image" id="preview-image" style="border-radius: 50%; width: 200px;height: 200px; object-fit: cover;display: none;">
                <span id="preview-image-default-text" >image preview</span>
            </div>
            <div class="modal-body">
                <form action="/users/update_name" method="POST" enctype="multipart/form-data">
                    <div class="form-group ">
                          <label for="name" class="form-label mt-0">Name</label>
                            <input 
                                type="name" 
                                class="form-control" 
                                id="name"
                                name="name" 
                                placeholder="Enter Name"
                                value="<%= typeof userinfo!= 'undefined' ? userinfo.name : `` %>"   
                            >
                      </div>
                    <div class="form-group ">
                          <label for="email" class="form-label mt-2">Email</label>
                            <input 
                                type="name" 
                                class="form-control" 
                                id="email"
                                name="email" 
                                placeholder="Enter Name"
                                value="<%= typeof userinfo!= 'undefined' ? userinfo.email : `` %>"   
                            >
                      </div>
                    <div class="form-group ">
                          <label for="profileImage_file" class="form-label mt-2">profile image</label>
                            <input 
                                type="file" 
                                class="form-control" 
                                id="profileImage_file"
                                name="profileImage_file"   
                            >
                      </div>
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="submit" class="btn btn-primary mt-2">Save changes</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="row" style="height:80vh">
        <div class="col-md-6 col-12 m-auto">
            <div class="card card-body">
                <img class="m-auto" src="/profile_images/<%= userinfo.profile_image %>" onerror="this.onerror=null;this.src = '/profile_images/default.png';" alt="profile pic"
                    style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;">

                <div class="display-info">
                    <div class="mt-2 col-md-6 col-12 "><span style="font-weight: bold;">NAME</span><br>
                        <%= userinfo.name %>
                    </div>
                    <div class="mt-2 col-md-6 col-12 "><span style="font-weight: bold;">EMAIL </span><br>
                        <%= userinfo.email %>
                    </div>
                    <i class="fas fa-edit edit-icon" style="font-size: larger;" data-toggle="modal" data-target="#exampleModalCenter"></i>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12 m-auto mt-3">
            <div class="input-info card card-body">
                <form action="/users/profile_update" method="POST">
                    <%- include('./partials/messages.ejs') %>
                    <div class="form-group form-field">
                        <label for="roll" class="form-label mt-2">Roll No.</label>
                        <input type="text" class="form-control" id="roll" name="roll"
                            placeholder="enter roll no"
                            value="<%= typeof userinfo != 'undefined' ? userinfo.roll : `` %>">
                    </div>
                        <div class="form-group form-field">
                            <label for="codeforces" class="form-label mt-2"> Codeforces Handle</label>
                            <input type="text" class="form-control" id="codeforces" name="codeforces" placeholder="Codeforces handle link"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.codeforces : `` %>">
                                <span class="iconify" data-icon="simple-icons:codeforces" style="color: white;"></span>
                            <div class="invalid-feedback" id="codeforcesinvalid"></div>
                            <div class="valid-feedback" id="codeforcesvalid"></div>
                        </div>
                        <div class="form-group form-field">
                            <label for="codechef" class="form-label mt-2"> Codechef Handle</label>
                            <input type="text" class="form-control" id="codechef" name="codechef" placeholder="Codechef handle link"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.codechef : `` %>">
                            <span class="iconify" data-icon="simple-icons:codechef" style="color: white;"></span>
                            <div class="invalid-feedback" id="codechefinvalid"></div>
                            <div class="valid-feedback" id="codechefvalid"></div>
                        </div>
                        <div class="form-group form-field">
                            <label for="github" class="form-label mt-2"> Github</label>
                            <input type="text" class="form-control" id="github" name="github" placeholder="Github link"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.github : `` %>">
                            <i class="fab fa-github"></i>
                            <div class="invalid-feedback" id="githubinvalid"></div>
                            <div class="valid-feedback" id="githubvalid"></div>
                        </div>
                        <div class="form-group form-field">
                            <label for="insta" class="form-label mt-2">Instagram Handle</label>
                            <input type="text" class="form-control" id="insta" name="insta" placeholder="instagram link"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.insta : `` %>">
                            <i class="fab fa-instagram"></i>
                            <div class="invalid-feedback" id="instainvalid"></div>
                            <div class="valid-feedback" id="instavalid"></div>
                        </div>
                        <div class="form-group form-field">
                            <label for="facebook" class="form-label mt-2">Facebook </label>
                            <input type="text" class="form-control" id="facebook" name="facebook"
                                placeholder="facebook link"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.facebook : `` %>">
                            <i class="fab fa-facebook"></i>
                            <div class="invalid-feedback" id="facebookinvalid"></div>
                            <div class="valid-feedback" id="facebookvalid"></div>
                        </div>
                        <div class="form-group form-field">
                            <label for="linkedin" class="form-label mt-2">LinkedIn</label>
                            <input type="text" class="form-control" id="linkedin" name="linkedin"
                                placeholder="linkedin link"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.linkedin : `` %>">
                            <i class="fab fa-linkedin"></i>
                            <div class="invalid-feedback" id="linkedininvalid"></div>
                            <div class="valid-feedback" id="linkedinvalid"></div>
                        </div>
                        <div class="form-group form-field">
                            <label for="contact" class="form-label mt-2">Contact number</label>
                            <input type="text" class="form-control" id="contact" name="contact"
                                placeholder="enter your contact number"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.contact : `` %>">
                            <div class="invalid-feedback" id="contactinvalid"></div>
                            <div class="valid-feedback" id="contactvalid"></div>
                        </div>
                        <div class="form-group">
                            <label for="degree" class="form-label mt-2">Degree</label>
                            <select name="degree" id="degree" class="form-select">
                                <% if( userinfo.degree){ %>
                                    <option selected disabled hidden><%= userinfo.degree %></option>
                                <% } %>
                                <option>B.Tech</option>
                                <option>B.Des</option>
                                <option>M.A.</option>
                                <option>M.Sc.</option>
                                <option>M.Tech</option>
                                <option>M.Des</option>
                                <option>MSR</option>
                                <option>PhD</option>
                                <option>Dual Degree</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="branch" class="form-label mt-2">Branch</label>
                            <select name="branch" id="branch" class="form-select">
                                <% if(userinfo.branch){ %>
                                    <option selected disabled hidden><%= userinfo.branch %></option>
                                <% } %>
                                <option>Biotechnology</option>
                                <option>Chemical</option>
                                <option>Chemical science and Technology</option>
                                <option>Civil Engineering</option>
                                <option>Computer Science and Engineering</option>
                                <option>Electronics & Electrical Engineering</option>
                                <option>Electronics & Communication Engineering</option>
                                <option>Mathematics and Computing</option>
                                <option>Mechanical Engineering</option>
                                <option>Engineering Physics</option>
                                <option>Data Science and Artificial Intelligence</option>
                                <option>Design</option>
                                <option>M.Sc Phsics</option>
                                <option>M.Sc Chemistry</option>
                                <option>M.Sc Mathematics and Computing</option>
                                <option>MA in Developmental Studies</option>
                                <option>MSR in Energy</option>
                                <option>MSR in E-Mobility</option>
                                <option>MSR in Disaster Management</option>
                                <option>PhD in physics</option>
                            </select>
                        </div>
                        <div class="form-group form-field">
                            <label for="degYear" class="form-label mt-2">Year of degree completion</label>
                            <input type="text" class="form-control" id="degYear" name="degYear" 
                            placeholder="YYYY" value="<%= typeof userinfo != 'undefined' ? userinfo.degYear : `` %>">
                        </div>
                        <!-- <div class="form-group form-field">
                            <label for="birthdate" class="form-label mt-2">Birth Date</label>
                            <input type="date" class="form-control" id="birthdate" name="birthdate"
                                value="<%= typeof userinfo != 'undefined' ? userinfo.birthdate : `` %>">
                        </div> -->
                        <div class="form-group">
                            <label for="clubs" class="form-label mt-2">Clubs</label>
                            <small class="form-text text-muted">&nbsp; Hold ctrl to select more than one option</small>
                            <select name="clubs" id="clubs" class="form-select" multiple="multiple">
                                <option <%= userinfo.clubs.includes('Aeromodelling Club') == true ? 'selected' : ''%> >Aeromodelling Club</option>
                                <option <%= userinfo.clubs.includes('Automobile Club') == true ? 'selected' : ''%> >Automobile Club</option>
                                <option <%= userinfo.clubs.includes('Acumen') == true ? 'selected' : ''%> >Acumen</option>
                                <option <%= userinfo.clubs.includes('Anchorenza') == true ? 'selected' : ''%> >Anchorenza</option>
                                <option <%= userinfo.clubs.includes('Coding club') == true ? 'selected' : ''%> >Coding club</option>
                                <option <%= userinfo.clubs.includes('CnA Club') == true ? 'selected' : ''%> >CnA Club</option>
                                <option <%= userinfo.clubs.includes('Cadence') == true ? 'selected' : ''%> >Cadence</option>
                                <option <%= userinfo.clubs.includes('E-Cell') == true ? 'selected' : ''%> >E-Cell</option>
                                <option <%= userinfo.clubs.includes('Electronics Club') == true ? 'selected' : ''%> >Electronics Club</option>
                                <option <%= userinfo.clubs.includes('FEC') == true ? 'selected' : ''%> >FEC</option>
                                <option <%= userinfo.clubs.includes('Fine Arts Club') == true ? 'selected' : ''%> >Fine Arts Club</option>
                                <option <%= userinfo.clubs.includes('Litsoc') == true ? 'selected' : ''%> >Litsoc</option>
                                <option <%= userinfo.clubs.includes('Lumiere') == true ? 'selected' : ''%> >Lumiere</option>
                                <option <%= userinfo.clubs.includes('Montage') == true ? 'selected' : ''%> >Montage</option>
                                <option <%= userinfo.clubs.includes('Octaves') == true ? 'selected' : ''%> >Octaves</option>
                                <option <%= userinfo.clubs.includes('Robotics Club') == true ? 'selected' : ''%> >Robotics Club</option>
                                <option <%= userinfo.clubs.includes('Xpression') == true ? 'selected' : ''%> >Xpression</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="skills" class="form-label mt-2">Skills</label>
                            <small class="form-text text-muted">&nbsp; Hold ctrl to select more than one option</small>
                            <select name="skills" id="skills" class="form-select" multiple="multiple">
                                <option <%= userinfo.skills.includes('App developer') == true ? 'selected' : ''%> >App developer</option>
                                <option <%= userinfo.skills.includes('Backend developer') == true ? 'selected' : ''%> >Backend developer</option>
                                <option <%= userinfo.skills.includes('Blockchain Developer') == true ? 'selected' : ''%> >Blockchain Developer</option>
                                <option <%= userinfo.skills.includes('C/C++') == true ? 'selected' : ''%> >C/C++</option>
                                <option <%= userinfo.skills.includes('Cyber Security') == true ? 'selected' : ''%> >Cyber Security</option>
                                <option <%= userinfo.skills.includes('Django') == true ? 'selected' : ''%> >Django</option>
                                <option <%= userinfo.skills.includes('Data Analytics') == true ? 'selected' : ''%> >Data Analytics</option>
                                <option <%= userinfo.skills.includes(`Data Science`) == true ? 'selected' : ''%> >Data Science</option>
                                <option <%= userinfo.skills.includes('Designer') == true ? 'selected' : ''%> >Designer</option>
                                <option <%= userinfo.skills.includes('Frontend developer') == true ? 'selected' : ''%> >Frontend developer</option>
                                <option <%= userinfo.skills.includes('Java') == true ? 'selected' : ''%> >Java</option>
                                <option <%= userinfo.skills.includes('Javascript') == true ? 'selected' : ''%> >Javascript</option>
                                <option <%= userinfo.skills.includes('Machine Learning') == true ? 'selected' : ''%> >Machine Learning</option>
                                <option <%= userinfo.skills.includes('Nodejs') == true ? 'selected' : ''%> >Nodejs</option>
                                <option <%= userinfo.skills.includes('Python') == true ? 'selected' : ''%> >Python</option>
                                <option <%= userinfo.skills.includes('Web developer') == true ? 'selected' : ''%> >Web developer</option>
                            </select>
                        </div>





                       
                    </div>
                    <button type="submit" class="col-12 btn btn-primary my-2 update-btn" id="updatebtn">Update</button>
                </form>
        </div>
    </div>
</div>
<script src="/js/profileupdatevalidation.js"></script>
<script>
    const profileImage_file = document.getElementById('profileImage_file');
    const preview_image = document.getElementById('preview-image');
    const preview_image_default_text = document.getElementById('preview-image-default-text');
    profileImage_file.addEventListener('change',function(){
        const file = this.files[0];
        // console.log(file);
        if(file){
            const reader = new FileReader();
            preview_image_default_text.style.display = "none";
            preview_image.style.display = "block";
            reader.readAsDataURL(file);
            reader.addEventListener("load",function(){
                // console.log(this);
                preview_image.setAttribute("src",this.result);
            })
        }else{
            preview_image_default_text.style.display = "block";
            preview_image.style.display = "none";
            preview_image.setAttribute("src",'');
        }
    })
</script>