<div class="container">
<div class="row mt-2">
    <div class="col-md-6 col-12 m-auto" >
        <div class="card card-body py-2">
          <div id="dismissAlert">

          </div>
            <form action="/users/register" method="POST">
                <fieldset>
                  <legend><h1 class="text-center">Register</h1></legend>
                  <%- include('./partials/messages.ejs') %>
                  <div class="form-group ">
                    <label for="name" class="form-label">Name</label>
                        <input 
                            type="name" 
                            class="form-control" 
                            id="name"
                            name="name" 
                            placeholder="Enter Name"
                            value="<%= typeof name != 'undefined' ? name : `` %>" required  
                        >
                        <div class="invalid-feedback" id="nameinvalid"></div>
                        <div class="valid-feedback" id="namevalid"></div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="form-label mt-2">Email address</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        name="email"
                        aria-describedby="emailHelp" 
                        placeholder="Enter email"
                        value="<%= typeof email != 'undefined' ? email : `` %>" required
                    >
                    <div class="invalid-feedback" id="emailinvalid"></div>
                    <div class="valid-feedback" id="emailvalid"></div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="password" class="form-label mt-2">Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="password" 
                        name="password"
                        placeholder="Create Password"
                        value="<%= typeof password1 != 'undefined' ? password1 : `` %>" required
                    >
                  </div>
                  <div class="form-group">
                    <label for="password2" class="form-label mt-2">confirm Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="password2" 
                        name="password2"
                        placeholder="Confirm Password"
                        value="<%= typeof password2 != 'undefined' ? password2 : `` %>" required
                    >
                  </div>
                  
                  <button type="submit" class="col-12 btn btn-primary mt-2">Register</button>
              </form>
              <p class="lead mt-2 py-0">Already have an Account ? &nbsp;<a href="/users/login"  style="font-weight: 400; letter-spacing: 1px;">Login</a></p>
        </div>
    </div>
</div>


</div>

<script src="/js/registervalidation.js"></script>